<html>
  <head>
   <title>Classic </title>
   <link rel="stylesheet" type="text/CSS" href="C:\Users\Swapna\Desktop\college stuff\5th SEM\the website\specific_category.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
  <div class="header" > 
      Categories  About <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white button">Upload</a>  <!--Header Section -->     
 </div>

<div class="intro">
 <p id="subcat">Classic</p>
</div>
 
<div>
    <div>
	<video width="397" height="220" controls>
           <source src="E:\Ashish (Technoid)\MUSIC FACTORY\background musics\POPPIN JOHN_RANDMVISION.mp4" type="video/mp4">
	</video>
    </div>
	
	<div>
	<iframe width="397" height="220" src="https://www.youtube.com/embed/57_x2GHX7Zw" frameborder="0" allowfullscreen></iframe>
    </div>
</div>	
	
  </body>
 </html>