<html>
 <head>
  <title> Specific Category Page</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Swapna\Desktop\college stuff\5th SEM\the website\specific_category.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>

  </head>
  
<body>
<div class="dropdown header">

   <button class="dropbtn">Dropdown</button>
   <div class="dropdown-content">
     <a href="file:///C:/Users/Swapna/Desktop/college%20stuff/5th%20SEM/the%20website/category%20page.html">Classic</a>
     <a href="#">Link 2</a>
     <a href="#">Link 3</a>
   </div>
       About 
    <p class="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
    </p>
	
</div>

<div class="intro">
    <p id="maincat">Classic</p>
    <p id="subcat">Singing</p>
</div>
<!-- Beginning Of Video Section -->
<div class="w3-row w3-border vidkamar">

   <div class="w3-third w3-container vidpad card">
     <iframe width="397" height="220"  src="https://www.youtube.com/embed/_sXrTpOVnak" frameborder="0" allowfullscreen></iframe>
     <p>Linkin Park - Rolling In The Deep</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <iframe width="397" height="220	"  src="https://www.youtube.com/embed/1EtI0KjXfdk" frameborder="0" allowfullscreen></iframe>
     <p>Amit Trivedi - Sounds Of The Nation</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <iframe width="397" height="220" src="https://www.youtube.com/embed/xGSM9h6EpwU" frameborder="0" allowfullscreen></iframe>
     <p>Voctronica - Evolution of A. R. Rahman</p>
   </div>

   <div class="w3-third w3-container vidpad card">
      <iframe width="397" height="220"  src="https://www.youtube.com/embed/2d1rnOm9IGQ" frameborder="0" allowfullscreen></iframe>
      <p>Mithali Palkar - Hi Chaal Turu Turu On The Cups </p>
   </div>

    <div class="w3-third w3-container vidpad card">	
      <iframe width="397" height="220" src="https://www.youtube.com/embed/LmTgZNJuDtc" frameborder="0" allowfullscreen></iframe>
      <p>Acoustic Singh Cover - Channa Mereya (Reprise)</p> 
   </div>

   <div class="w3-third w3-container vidpad card">
      <video width="397" height="220" controls="controls">
        <source src="C:\Users\Swapna\Desktop\college stuff\5th SEM\the website\STAY-Zedd ft_Alessia_Cara.mp4" type="video/mp4"/>
      </video>
      <p>Kurt, Kina - Stay [Cover]</p>
   </div>


   <div class="w3-third w3-container vidpad card">
      <iframe width="397" height="220" src="https://www.youtube.com/embed/dkcs-26PBjY" frameborder="0" allowfullscreen></iframe>
      <p>All Time - Tyler Ward, Mike Tompkins, KHS</p>
   </div>

  <div class="w3-third w3-container vidpad card">
    <video width="397" height="220" controls="controls">
       <source src="E:\SWAPNA DATA\D Drive\swapna\ASHISH\MY SONGS (ASHISH)\Roobaroo - Micromax Unite Anthem.mp4" type="video/mp4"/>
    </video>
	<p>Roobaroo - Micromax Unite Anthem</p>
   </div>

   <div class="w3-third w3-container vidpad card">
      <iframe src="https://player.vimeo.com/video/178037309?color=ffffff&portrait=0&badge=0" width="397" height="220" frameborder="0" ></iframe>
      <p>Green Day - Bang Bang </p>
   </div>
</div>
<!-- End of Video Section -->
<!-- AUDIO SECTION STARTS -->
<div>
  <div class="adjust">
    <p> Audio</p>
   </div>

   <div class="w3-third w3-container audcard">
   <p>Bhuvan Bam - Teri Meri Kahani</p>
     <audio controls>
      <source src="E:\Ashish (Technoid)\MUSIC FACTORY\bolly\Teri Meri Kahani - Bhuvan Bam.mp3" type="audio/mp3">
    </audio>
   </div>
   
   <div class="w3-third w3-container audcard">
   <p>Atif Aslam Vs. Arijit Singhs</p>
     <audio controls>
      <source src="E:\Ashish (Technoid)\MUSIC FACTORY\bolly\atif aslam vs arijit singh live performance 2015 gima award 2015.mp3" type="audio/mp3">
    </audio>
   </div>
   
    <div class="w3-third w3-container audcard">
   <p>Shankar Mahadevan - Breathless</p>
     <audio controls>
      <source src="E:\Ashish (Technoid)\MUSIC FACTORY\bolly\Shankar Mahadevan - Breathless.mp3" type="audio/mp3">
    </audio>
   </div>
</div>

</body>
</html>