
<html>
 <head>
  <title> Classic | Category</title>
    <link rel="stylesheet" type="text/CSS" href="main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
   
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="Classic Category.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="intro-category">
   &nbsp;
    <p id="subcat">Classic</p>
</div>
<!-- PAGE INTRO ENDS -->

<!-- Singing division -->
<a href="singing.html" style="text-decoration:none;" target="_blank">
   <div class="singing-adjust">
      <p> Singing</p>
   </div>
</a>

<!-- Beginning Of Video Section -->
<div class="vidkamar-cat">

    <div class=" vidpad card">
      <iframe width="397" height="220"  src="https://www.youtube.com/embed/2d1rnOm9IGQ" frameborder="0" allowfullscreen></iframe>
      <p>Mithali Palkar - Hi Chaal Turu Turu On The Cups </p>
   </div>

    <div class=" vidpad card">	
      <iframe width="397" height="220" src="https://www.youtube.com/embed/LmTgZNJuDtc" frameborder="0" allowfullscreen></iframe>
      <p>Acoustic Singh Cover - Channa Mereya (Reprise)</p> 
   </div>


   <div class="card">	
     <iframe src="https://www.youtube.com/embed/xGSM9h6EpwU" frameborder="0" allowfullscreen></iframe>
     <p>Voctronica - Evolution of A. R. Rahman</p>
   </div>
</div>

 
<a href="dancing.html" style="text-decoration:none;" target="_blank">
   <div class="dancing-adjust">
      <p> Dancing</p>
   </div>
</a>
<div class="vidkamar-cat">
 <div class="vidpad card">
     <iframe width="397" height="220"  src="https://www.youtube.com/embed/5CvwgC-WQlo" frameborder="0" allowfullscreen></iframe>
     <p>Ditto Bay Area</p>
   </div>

  <div class="vidpad card">
     <iframe  src="https://www.youtube.com/embed/IVrW2TF_HGg" frameborder="0" allowfullscreen></iframe>
     <p>World's best dance</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <iframe width="397" height="220" src="https://www.youtube.com/embed/0Lub_6v5N-I" frameborder="0" allowfullscreen></iframe>
     <p>GRAVITY-Poppin Johns</p>
   </div>
</div>


<a href="music.html" style="text-decoration:none;" target="_black">
   <div class="music-adjust">
      <p> Music</p>
   </div>
</a>
<div class="vidkamar-cat">
  <div class="card">
     <iframe src="https://www.youtube.com/embed/FqJdzYY_Fas" frameborder="0" allowfullscreen></iframe>
     <p>Gordo Drummer - Best Drummer Ever</p>
   </div>

  <div class="card">
     <iframe src="https://www.youtube.com/embed/k4ixAfJ1LuI" frameborder="0" allowfullscreen></iframe>
     <p>Amin Toofani - World's Best Guitar Player Unbelievable</p>
  </div>

   <div class="card">	
     <iframe src="https://www.youtube.com/embed/GNZBSZD16cY" frameborder="0" allowfullscreen></iframe>
     <p>Beatbox brilliance | Tom Thum | TEDxSydney</p>
   </div>
</div>


<a href="painting.html" style="text-decoration:none;" target="_black">
   <div class="painting-adjust">
      <p> Painting</p>
   </div>
</a>
<div class="vidkamar">
   <div class="card">
      <img src="oil1.jpg" height="70%" width="100%"/>   
     <p>Bright Environmental Paintings - Colossal</p>
   </div>

  <div class="card">
      <img src="oil2.jpg" height="70%" width="100%"/>   
     <p>Study On Canvas "Waves" - oil on canvas - Oil paintings</p>
  </div>

   <div class="card">	
      <img src="oil3.jpg" height="70%" width="100%"/>   
     <p>painting  - lakelife - picoftheday - reflection - trees - forest </p>
   </div>
</div>

<a href="sketching.html" style="text-decoration:none;" target="_black">
   <div class="sketching-adjust">
      <p> Sketching</p>
   </div>
</a>
<div class="vidkamar">
 <div class="card">
      <img src="sk5.jpg" height="70%" width="100%"/>   
      <p>krfgdrawings - | tumblrgirl | tumblr</p>
   </div>

    <div class="card">	
      <img src="sk7.jpg" height="70%" width="100%"/>   
      <p>Goku and Hit training | dbzart | vegeta | dragonball </p> 
   </div>

   <div class="card">
      <img src="sk12.jpg" height="70%" width="100%"/>   
	  <p>matt_in_black_illustration - Moth Flew Over The Moon | Pointilism</p>
   </div>
</div>


<a href="sculpting.html" style="text-decoration:none;" target="_black">
   <div class="sculpting-adjust">
      <p> Sculpting</p>
   </div>
</a>
<div class="vidkamar">
    <div class="photo-card">
     <img src="sculp1.jpg" "/>    
	 <p>Duck Bong Kang's Sculptures</p>
  </div>
  <div class="card">
           <img src="sculp7.jpg" height="70%" width="100%"/>    
      <p>Lion Sculptures</p>
   </div>

    <div class="card">	
      <iframe src="https://www.youtube.com/embed/Sw66Gd_SXx0" frameborder="0" allowfullscreen></iframe>
      <p>Nelson Mandela Sculpture Time Lapse</p> 
   </div>
</div>

<!-- End of Video Section -->

<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copyTechnoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
</body>
</html>