<html>
 <head>
  <title> Specific Category Page</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Swapna\Desktop\college stuff\5th SEM\the website\specific_category.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>

  </head>
  
<body>
<div class="dropdown header">

   <button class="dropbtn">Dropdown</button>
   <div class="dropdown-content">
     <a href="file:///C:/Users/Swapna/Desktop/college%20stuff/5th%20SEM/the%20website/category%20page.html">Classic</a>
     <a href="#">Link 2</a>
     <a href="#">Link 3</a>
   </div>
       About 
    <p class="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
    </p>
	
</div>

<div class="intro">
    <p id="maincat">Classic</p>
    <p id="subcat">Singing</p>
</div>
<!-- Beginning Of Video Section -->
<div class="w3-row w3-border vidkamar">

   <div class="w3-third w3-container vidpad card">
     <iframe width="397" height="220"  src="https://www.youtube.com/embed/5CvwgC-WQlo" frameborder="0" allowfullscreen></iframe>
     <p>Ditto Bay Area</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <iframe width="397" height="220	"  src="https://www.youtube.com/embed/IVrW2TF_HGg" frameborder="0" allowfullscreen></iframe>
     <p>World's best dance</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <iframe width="397" height="220" src="https://www.youtube.com/embed/0Lub_6v5N-I" frameborder="0" allowfullscreen></iframe>
     <p>GRAVITY-Poppin Johns</p>
   </div>

   <div class="w3-third w3-container vidpad card">
      <iframe width="397" height="220"  src="https://www.youtube.com/embed/QqI1neaYvTs" frameborder="0" allowfullscreen></iframe>
      <p>Les Twins </p>
   </div>

    <div class="w3-third w3-container vidpad card">	
      <iframe width="397" height="220" src="https://www.youtube.com/embed/isUzO-bAA88" frameborder="0" allowfullscreen></iframe>
      <p>V-Company</p> 
   </div>

   <div class="w3-third w3-container vidpad card">
      
	  <iframe width="397" height="220" src="https://www.youtube.com/embed/6dOOicc4394" frameborder="0" allowfullscreen></iframe>
      <p>Cartoonz Crew-B Boying</p>
   </div>


   <div class="w3-third w3-container vidpad card">
      <iframe width="397" height="220" src="https://www.youtube.com/embed/MBkZTPLUQ_g" frameborder="0" allowfullscreen></iframe>
      <p>MJ5 IND KING EVOLUTION</p>
   </div>

  <div class="w3-third w3-container vidpad card">
    <iframe width="397" height="220" src="https://www.youtube.com/embed/3lOlm8D7hxs" frameborder="0" allowfullscreen></iframe>
	<p>Elchapo Dance Cover || Urban Style || FDC IIRourkela</p>
   </div>

   <div class="w3-third w3-container vidpad card">
	 <iframe width="397" height="220" src="https://www.youtube.com/embed/7cFW7BJLoKA" frameborder="0" allowfullscreen></iframe>
      <p>Nagpuri dance by OD CREW </p>
   </div>
</div>
<!-- End of Video Section -->

</body>
</html>