
<html>
 <head>
  <title>Digital | Category</title>
    <link rel="stylesheet" type="text/CSS" href="main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
   
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="intro-category">
   
    <p id="subcat">Welcome To The World Of Talent</p>
</div>
<!-- PAGE INTRO ENDS -->

<!-- photography division -->
<a href="photography.html" style="text-decoration:none;" target="_blank">
   <div class="photography-adjust">
      <p> Photography</p>
   </div>
</a>

<!-- Beginning Of Image Section -->
<div class="vidkamar-cat">

   <div class=" vidpad card">
     <a href="fashion17.jpg"><img src="fashion17.jpg" height="70%" width="100%"/></a>
     <p>#menstyle #modernart </p>
  </div>
  
    <div class=" vidpad card">	
     <a href="food3.jpg"><img src="food3.jpg" height="70%" width="100%"/></a>
     <p>bhookasaandName: Japani Samosa</p>      <p>Acoustic Singh Cover - Channa Mereya (Reprise)</p> 
   </div>


   <div class="card">	
     <a href="land2.jpg"><img src="land2.jpg" height="70%" width="100%"/></a>
     <p>rebel_scapes | Rebel is @russellnader | ~This is one photographer you don't want to miss!</p>     <p>Voctronica - Evolution of A. R. Rahman</p>
   </div>
</div>

 <!--Digital artistry-->
<a href="digitalartistry.html" style="text-decoration:none;" target="_blank">
   <div class="digitalartistry-adjust">
      <p> Digital Artistry</p>
   </div>
</a>
<div class="vidkamar-cat">
 <div class="vidpad card">
     <a href="facechange.jpg" target="_blank">  <img src="facechange.jpg"> </a>
     <p>Ultimatum - Digital Art Photoshop Action </p>
   </div>

  <div class="vidpad card">
     <a href="digital-ironman.jpg" target="_blank">  <img src="digital-ironman.jpg"> </a>
      <p>Justin Maller - Iron Man Digital Art</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <iframe src="https://giphy.com/embed/lKKXOCVviOAXS" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/art-animation-3d-lKKXOCVviOAXS">via GIPHY</a></p>      
	 <p>Falling in Whirlpool - Robert EK</p>

   </div>
</div>

<!--Videography starts-->
<a href="videography.html" style="text-decoration:none;" target="_black">
   <div class="videography-adjust">
      <p> Videography</p>
   </div>
</a>
<div class="vidkamar-cat">
  <div class="card">
     <iframe src="https://www.youtube.com/embed/9d8wWcJLnFI" frameborder="0" allowfullscreen></iframe>
     <p>Dazzling Time-Lapse Reveals America's Great Spaces</p>
   </div>

  <div class="card">
      <iframe src="https://www.youtube.com/embed/1ODxPXhuAfk" frameborder="0" allowfullscreen></iframe>
      <p>Mumbiker Nikhil Vlog At Youtube Fanfest 2016s</p>
  </div>

   <div class="card">	
     <iframe src="https://www.youtube.com/embed/ZbjhTuGATfA" frameborder="0" allowfullscreen></iframe> 
	 <p>Ash Tailor - Journey To Canada </p>
   </div>
</div>

<!--videography ends-->


<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copyTechnoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
</body>
</html>