<html>
  <head>
   <title> Welcome to Talent Case! </title>
  </head>
  <body>
  <div> 
      <pre> Talent Case                                                                                                                                                         About  Upload</pre>   <!--Header Section -->                          
 </div>
  
  
  <div>
      <p>Mast wala text</p>
 </div>
  <div>
       <div>Digital </br>
         Photography, Videography, Film Making,Digital Artistry,...
        </div>
     
     	 <div>Classic </br>
         Singing, Music, Dance, Painting, Sculpting,...
        </div>
	
     	<div>Miscellaneous </br>
         You got anything special?
        </div>
 </div> 
	
	
	
  </body>
 </html>