
<html>
 <head>
  <title>Miscellaneous</title>
    <link rel="stylesheet" type="text/CSS" href="main.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>

  </head>
  
<body>

<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->

<!-- PAGE INTRO -->
<div class="intro-misc">
&nbsp;
    <p id="subcat">Micellaneous</p>
</div>

<!-- Beginning Of Video Section -->
<div class="vidkamar">

   <div class="card">
     <iframe  src="https://www.youtube.com/embed/vWkzpaI_BCY" frameborder="0" allowfullscreen></iframe>
	 <p>Soccer Talent Unleashed!</p>
   </div>

   <div class="card">	
     <iframe src="https://www.youtube.com/embed/SjOyaf2JKoE" frameborder="0" allowfullscreen></iframe>
     <p>Speed-Solving Record Set For Rubik's Cube</p>
   </div>

  <div class="card">
     <iframe  src="https://www.youtube.com/embed/9v7HQt8s4Wk" frameborder="0" allowfullscreen></iframe>
     <p>Incredible Teeterboard Tricks & Flips!</p>
  </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/AMjLjI5ItNc" frameborder="0" allowfullscreen></iframe>
      <p>Speed Typer Shows Off Skills On Keyboard</p>
   </div>

    <div class="card">	
      <iframe src="https://www.youtube.com/embed/YHBdEqkoyWU" frameborder="0" allowfullscreen></iframe>
      <p>FreeRunning/Parkour With Trumbling</p> 
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/AQkbbtDoPq0" frameborder="0" allowfullscreen></iframe>
      <p>Being Unique Is What Makes You Special</p>
   </div>

  <div class="card">
    <iframe src="https://giphy.com/embed/TG20s6icSVi4E" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
	<p>Cup Stacking Champion!</p>
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/YYqVxFvpaL4" frameborder="0" allowfullscreen></iframe>
      <p>Talent Inculcated At Early Ages</p>
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/cfqAHfpQkno" frameborder="0" allowfullscreen></iframe>
      <p>You Can Do Anything You Wish For! </p>
   </div>
</div>
<!-- End of Video Section -->

<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">Copyrighted By Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
</body>
</html>