<html>
 <head>
  <title> Paintings < Classic</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Nazim Patham\Desktop\Talent Case\main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="paintback">
    <p id="maincat">Classic</p>
    <p id="subcat">Painting</p>
</div>
<!-- PAGE INTRO ENDS -->

<p class="size">Painting is the silence of thought and the music of sight.</p>
<p>I have an idea that the only thing which makes it possible to regard this world we live in without disgust is the beauty which now and then men create out of the chaos.
 The pictures they paint, the music they compose, the books they write, and the lives they lead. Of all these the richest in beauty is the beautiful life. That is the perfect work of art.</p>
<!--Begginning of the image section-->


<!-- Beginning Of Oil Image Section -->


<div class="oilback">
<p>Oil </p>
</div>

<div class="vidkamar">

   <div class="card">
      <a href="oil1.jpg"><img src="oil1.jpg" height="70%" width="100%"/>   </a>
     <p>Bright Environmental Paintings - Colossal</p>
   </div>

  <div class="card">
      <a href="oil2.jpg"><img src="oil2.jpg" height="70%" width="100%"/>   </a>
     <p>Study On Canvas "Waves" - oil on canvas - Oil paintings</p>
  </div>

   <div class="card">	
      <a href="oil3.jpg"><img src="oil3.jpg" height="70%" width="100%"/>   </a>
     <p>painting  - lakelife - picoftheday - reflection - trees - forest </p>
   </div>
 </div>
 
 <!--end of Oil painting section-->
 
<!-- Beginning Of Water Color Image Section -->

<div class="waterback">
<p>Water </p>
</div>


<div class="vidkamar">

   <div class="card">
      <a href="water1.jpg"><img src="water1.jpg" height="70%" width="100%"/>   </a>
     <p>Water Painting Of the hut made live</p>
   </div>

  <div class="card">
      <a href="water2.jpg"><img src="water2.jpg" height="70%" width="100%"/>   </a>
     <p>Shadow Paintings - Water Color Paintings</p>
  </div>

   <div class="card">	
      <a href="water4.jpg"><img src="water4.jpg" height="70%" width="100%"/>   </a>
     <p>Watercolor paintings by Lilla Schuch </p>
   </div>
 </div>

 <!--End of water colour painting section-->
 
 
<!-- Beginning Of pastel Image Section -->


<div class="pastelback">
<p>Pastel</p>
</div>

<div class="vidkamar">

   <div class="card">
      <a href="pastel6.jpg"><img src="pastel6.jpg" height="70%" width="100%"/>   </a>
     <p>Vintage swans pan pastel pastel pencils and coloured pencils  - raffaella_picotti </p>
   </div>

  <div class="card">
      <a href="pastel3.jpg"><img src="pastel3.jpg" height="70%" width="100%"/>   </a>
     <p>"Misty Morning Walk"  - janehartart</p>
  </div>

   <div class="card">	
      <a href="pastel5.jpg"><img src="pastel5.jpg" height="70%" width="100%"/>   </a>
     <p>A pastel of a Belted Kingfisher - lesleyheathcotestudio </p>
   </div>
 </div>
 
 <!--end of Oil painting section-->
 
<!-- End of Image Section -->


<!--Sand Painting starts here-->

<!-- Beginning Of Video Section -->

<div class="sandback">
<p>Sand</p>
</div>

<div class="vidkamar">

   <div class="card">

<iframe src="https://www.youtube.com/embed/EGMRAD3Fo_g" frameborder="0" allowfullscreen></iframe>
     <p>amazing sand painting - Mr. Robinbar</p>
   </div>

  <div class="card">
     <iframe  src="https://www.youtube.com/embed/LZeDxSM3Os4" frameborder="0" allowfullscreen></iframe>
     <p>Inspiring Sand Art by Vivek Patil in Corporate Event</p>
  </div>

   <div class="card">	
     <iframe src="https://www.youtube.com/embed/e47SirYpI9w" frameborder="0" allowfullscreen></iframe>
     <p>Sand Art "Love changes everything" Greeting Card from Ilana yahav and Yotam Cohen</p>
   </div>

</div>
<!-- End of Video Section -->

<!--Sand painting ends here-->



<!--Footer starts Here-->

<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copy;Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="C:\Users\Nazim Patham\Desktop\Talent Case\facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="C:\Users\Nazim Patham\Desktop\Talent Case\youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>

<!--Footer Ends Here-->

</body>
</html>