<html>
 <head>
  <title> Photography < Digital</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Nazim Patham\Desktop\Talent Case\main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  
 
  </head>
  
<body> 
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->

<div class="photoback">
    <p id="maincat">Digital</p>
    <p id="subcat">Photography</p>
</div>
<!-- Beginning Of Pictures Section -->

<!-- Beginning Of Aerial Photography Section -->

<div class="aerial">
    <p> Aerial </p>
   </div>
   
<div class="vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="aerial1.jpg"><img src="aerial1.jpg" height="70%" width="100%"/></a>

   <p>Aerial View - Dhebar Lake In Rajasthan</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <a href="drone shot1.jpg"><img src="drone shot1.jpg" height="70%" width="100%"/></a>
     <p>Labyrinth</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="drone shot2.jpg"><img src="drone shot2.jpg" height="70%" width="100%"/></a>
     <p>Aerial View of an Awesome Lake</p>
   </div>

  <!--End of Aerial Photography Section -->

<!-- Beginning Of Fashion Photography Section -->

<div class="fashion">
    <p> Fashion </p>
   </div>
<div class=" vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="fashion10.jpg"><img src="fashion10.jpg" height="70%" width="100%"/></a>

   <p>#photo #fashion #anatoliylesovoy#ukrainephotographer #fashionphoto#fashionphotography</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <a href="fashion17.jpg"><img src="fashion17.jpg" height="70%" width="100%"/></a>
     <p>#menstyle #modernart </p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="fashion12.jpg"><img src="fashion12.jpg" height="70%" width="100%"/></a>
     <p>#weddingdress #weddingmakeup#editorialphotography #editorial #whitedress#model</p>
   </div>

   
<!-- End of Fashion Photography Section -->


<!-- Beginning Of Food Photography Section -->

<div class="food">
    <p> Food </p>
   </div>

<div class=" vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="food1.jpg"><img src="food1.jpg" height="70%" width="100%"/></a>

   <p>fitness_biancaEasy vegan chocolate crêpes with nut nougat cream, blueberries, granola and coffee to start the day 😍🥞🍫☕️</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <a href="food2.jpg"><img src="food2.jpg" height="70%" width="100%"/></a>
     <p>Hasselback potatoes with guac, veggies, lettuce and roasted chickpeas. 🙌</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="food3.jpg"><img src="food3.jpg" height="70%" width="100%"/></a>
     <p>bhookasaandName: Japani Samosa</p>
   </div>

  
<!-- End of Food Photography Section -->


<!-- Beginning Of Long exposure Photography Section -->

<div class="longexp">
    <p> Long exposure</p>
   </div>

<div class=" vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="longexp5.jpg"><img src="longexp5.jpg" height="70%" width="100%"/></a>

   <p>Aerial View - Dhebar Lake In Rajasthan</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <a href="longexp6.jpg"><img src="longexp6.jpg" height="70%" width="100%"/></a>
     <p>Labyrinth</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="longexp1.jpg"><img src="longexp1.jpg" height="70%" width="100%"/></a>
     <p>Aerial View of an Awesome Lake</p>
   </div>

   
<!-- End of Long exposure Photography Section -->


<!-- Beginning Of Landscape Photography Section -->

<div class="landscape">
    <p> Landscape  </p>
   </div>

<div class=" vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="land1.jpg"><img src="land1.jpg" height="70%" width="100%"/></a>

   <p>affranchie.blog#travel #traveling</p>
   </div>

  <div class="w3-third w3-container vidpad card">
     <a href="land2.jpg"><img src="land2.jpg" height="70%" width="100%"/></a>
     <p>rebel_scapes | Rebel is @russellnader | ~This is one photographer you don't want to miss!</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="land3.jpg"><img src="land3.jpg" height="70%" width="100%"/></a>
     <p>sabatora#lakeside #chirch </p>
   </div>

  
<!-- End of Landscape Photography Section -->


<!-- Beginning Of Portraiture Photography Section -->

<div class="portrait">
    <p> Portraiture </p>
   </div>

<div class=" vidkamar">

   <div class="w3-third w3-container vidpad card">
     <a href="portrait3.jpg"><img src="portrait3.jpg" height="70%" width="100%"/></a>

   <p>Candid Photography | Aadarsh Parmar</p>
   </div>

  <div class="w3-third w3-container card">
     <a href="portrait4.jpg"><img src="portrait4.jpg" height="70%" width="100%"/></a>
     <p>Portrait Photography By Aadarsh Parmar</p>
  </div>

   <div class="w3-third w3-container vidpad card">	
     <a href="portrait.jpg"><img src="portrait.jpg" height="70%" width="100%"/></a>
     <p>Happiness | Portraiture | Portrait Photography</p>
   </div>

  
<!-- End of Portraiture Photography Section -->



<!-- Beginning of  FOOTER SECTION -->
<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copy;Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="C:\Users\Nazim Patham\Desktop\Talent Case\youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
<!-- END OF FOOTER SECTION -->

</body>
</html>
