<html>
 <head>
  <title> Specific Category Page</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Nazim Patham\Desktop\Talent Case\specific_category.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
<div class="dropdown ">
   <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
     <a href="C:\Users\Nazim Patham\Desktop\Talent Case\category%20page.html">Classic</a>
     <a href="#">Singing</a>
     <a href="#">Music</a>
     <a href="C:\Users\Nazim Patham\Desktop\Talent Case\dancing.html">Dancing</a> 
   </div>
        
    <p class="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
    </p>
</div>
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="intro photoback">
    <p id="maincat">Digital</p>
    <p id="subcat">Fotography</p>
</div>
<!-- PAGE INTRO ENDS -->


<!-- Beginning Of Fotography Section -->
<div class="vidkamar">

   <div class="card">
     <img src="aerial1.jpg"/>
        <p>Aerial View - Dhebar Lake In Rajasthan</p>

   </div>

  <div class="card">
     <img src="fashion4.jpg"/>
      <p> jellloyaMICH  PHOTOGRAPHY . Jell Loya  MODEL</p>
  </div>

   <div class="card">	
     <img src="food3.jpg" />
     <p>bhookasaandName: Japani Samosa</p>
   </div>

   <div class="card">
     <img src="longexp5.jpg" />
      <p>Night-long exposure Photography</p>
   </div>

    <div class="card">	
      <img src="landscape.jpg" />
      <p>Landscape - Digital - Photography</p> 
   </div>

   <div class="card">
      <img src="portrait.jpg" />
    <p> Portraiture </p>
   </div>

   <div class="card">
      <img src="drone shot1.jpg" />
      <p>All Time - Tyler Ward, Mike Tompkins, KHS</p>
   </div>

  <div class="card">
 <img src="drone shot1.jpg" />
 <p>Roobaroo - Micromax Unite Anthem</p>
   </div>

   <div class="card">
<img src="drone shot1.jpg" />
      <p>Green Day - Bang Bang </p>
   </div>
</div>
<!-- End of Fotography Section -->



  <!-- FOOTER SECTIONS STARTS -->
<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">Copyrighted By Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="C:\Users\Swapna\Desktop\college stuff\5th SEM\the website\facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="C:\Users\Nazim Patham\Desktop\Talent Case\youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
  <!-- FOOTER SECTIONS ENDS-->
  
</body>
</html>