<html>
 <head>
  <title> Sculpfinal Page</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Nazim Patham\Desktop\Talent Case\main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="sculpback">
    <p id="maincat">Classic</p>
    <p id="subcat">Sculpting</p>
</div>
<!-- PAGE INTRO ENDS -->


<!-- Beginning Of Metal Section -->


<div class="metalback">
<p>Metal </p>
</div>

<div class="vidkamar">

   <div class="card">
     <a href="sculp1.jpg"><img src="sculp1.jpg" height="70%" width="100%"/>  </a>  
	 <p>Duck Bong Kang's Sculptures</p>
  </div>

  <div class="card">	
         <a href="sculp2.jpg"> <img src="sculp2.jpg" height="70%" width="100%"/>    </a>
     <p>Bull metal sculpture by tomas vitanovsky - bull metal sculpture</p>
   </div>

    <div class="card">
          <a href="sculp3.jpg"> <img src="sculp3.jpg" height="70%" width="100%"/>    </a>
      <p>Fascinating Sculptures</p>
   </div>

    <div class="card">
          <a href="sculp7.jpg"> <img src="sculp7.jpg" height="70%" width="100%"/>    </a>
      <p>Lion Sculptures</p>
   </div>

    <div class="card">	
      <iframe src="https://www.youtube.com/embed/Sw66Gd_SXx0" frameborder="0" allowfullscreen></iframe>
      <p>Nelson Mandela Sculpture Time Lapse</p> 
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/Zn0yEAxpMD8" frameborder="0" allowfullscreen></iframe>
      <p>welding art spider concept - time lapse</p>
   </div>
   
</div>

<!-- End of Metal Section -->


<!-- Beginning Of Clay Section -->


<div class="clayback">
<p>Clay </p>
</div>

<div class="vidkamar">

   <div class="card">
     <a href="clay1.jpg"><img src="clay1.jpg" height="70%" width="100%"/>    </a>
	 <p>caroline9475Foxes waiting to be fired</p>
  </div>

  <div class="card">	
          <a href="sculp17.jpg"><img src="sculp17.jpg" height="70%" width="100%"/> </a>   
     <p>hellishartfish#art #arting #cyborg</p>
   </div>

    <div class="card">
           <a href="clay2.jpg"><img src="clay2.jpg" height="70%" width="100%"/>    </a>
      <p>asmilebuiltinTerracotta on the table. Sculpting Sun faces. </p>
   </div>

    <div class="card">
           <a href="clay3.jpg"><img src="clay3.jpg" height="70%" width="100%"/>    </a>
      <p>annickduvivier#CLAY #selfportrait</p>
   </div>

    <div class="card">	
      <iframe src="https://www.youtube.com/embed/P6yIkFpd4tU" frameborder="0" allowfullscreen></iframe>
      <p>Sculpting "howling Wolf" ►► Timelapse</p> 
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/JkJvSVyMp8c" frameborder="0" allowfullscreen></iframe>
      <p>Sculpting The Joker - Timelapse Video.</p>
   </div>
   
</div>

<!-- End of Clay Section -->

<!-- Beginning Of Wooden Section -->


<div class="woodback">
<p>Wooden </p>
</div>

<div class="vidkamar">

  <div class="card">
     <a href="sculp10.jpg"><img src="sculp10.jpg" height="70%" width="100%"/>    </a>
	 <p>Italian sculptor Willy Verginer - Minimally Painted Wood Sculptures</p>
   </div>

   <div class="card">
         <a href="sculp5.jpg"> <img src="sculp5.jpg" height="70%" width="100%"/>    </a>
      <p>Figurative Found Wood Sculptures</p>
   </div>

     <div class="card">
          <a href="woodback2.jpg"> <img src="woodback2.jpg" height="70%" width="100%"/>    </a>
      <p>Pixelated Wood Sculptures Carved by Hsu Tung Hanby Kate Sierzputowski</p>
   </div>

    <div class="card">
         <a href="wood1.jpg">  <img src="wood1.jpg" height="70%" width="100%"/>    </a>
      <p>thecameobox"Never Shout Never" by @op_freuler </p>
   </div>

    <div class="card">	
      <iframe src="https://www.youtube.com/embed/10pI8MypLJA" frameborder="0" allowfullscreen></iframe>
      <p>Woodcarving "Fruit Bowl" ►► Timelapse</p> 
   </div>

   <div class="card">
      <iframe src="https://www.youtube.com/embed/0V5CQJj7xUI&pbjreload=10" frameborder="0" allowfullscreen></iframe>
      <p>the bread of the BUSH WARBLER!! [Wood carving! ]</p>
   </div>
   
</div>

<!-- End of Wooden Section -->



<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copy;Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="C:\Users\Nazim Patham\Desktop\Talent Case\facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="C:\Users\Nazim Patham\Desktop\Talent Case\youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
</body>
</html>