<html>
 <head>
  <title> Sketching < Classic</title>
    <link rel="stylesheet" type="text/CSS" href="C:\Users\Nazim Patham\Desktop\Talent Case\main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" type="text/css" href="card.css"/>
    <link type="text/javascript" src="voting.js"/>
	<link rel="stylesheet" type="text/css" href="dropdown.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="skback">
    <p id="maincat">Classic</p>
    <p id="subcat">Sketching</p>
</div>
<!-- PAGE INTRO ENDS -->


<!-- Beginning Of Image Section -->
<div class="vidkamar">

   <div class="card">
     <a href="sk2.jpg"><img src="sk2.jpg" height="70%" width="100%"/>    </a>
     <p>drawings_by_lanieDessin - Wonderwoman </p>
   </div>

  <div class="card">
     <a href="sk3.jpg"><img src="sk3.jpg" height="70%" width="100%"/>   </a>
     <p>korica_kkk - 1page1day | sketching </p>
  </div>

   <div class="card">	
     <a href="sk4.jpg"><img src="sk4.jpg" height="70%" width="100%"/>   </a>
     <p>shubh_assasinzzz - clashofclans | sketching</p>
   </div>

   <div class="card">
      <a href="sk5.jpg"><img src="sk5.jpg" height="70%" width="100%"/>  </a> 
      <p>krfgdrawings - 💕art | tumblrgirl | tumblr</p>
   </div>

    <div class="card">	
      <a href="sk7.jpg"><img src="sk7.jpg" height="70%" width="100%"/>  </a>
      <p>q10mark - Goku and Hit training !🔥🔥🔥 | dbzart | vegeta | dragonball </p> 
   </div>

   <div class="card">
      <a href="sk12.jpg"><img src="sk12.jpg" height="70%" width="100%"/>   </a>
	  <p>matt_in_black_illustration - Moth Flew Over The Moon | Pointilism</p>
   </div>

   <div class="card">
      <a href="sk9.jpg"><img src="sk9.jpg" height="70%" width="100%"/>   </a>
      <p>grafikerastronot - fineart | model | portre | portrait | artofthedy | soldier</p>
   </div>

  <div class="card">
    <a href="sk1.jpg"><img src="sk1.jpg" height="70%" width="100%"/>   </a>
	<p>supernerdcoffee - A sketch of jungkook from the Blood Sweat and Tears MV</p>
   </div>

   <div class="card">
      <a href="sk10.jpg"><img src="sk10.jpg" height="70%" width="100%"/>   </a>
      <p>forever_a_sketcher - Drawing of #jacksparrow that I had made for my art class.</p>
   </div>
</div>
<!-- End of Image Section -->


<!--Footer starts from here-->

<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copy;Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="C:\Users\Nazim Patham\Desktop\Talent Case\facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="C:\Users\Nazim Patham\Desktop\Talent Case\youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="C:\Users\Nazim Patham\Desktop\Talent Case\linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
<!-- Footer Ends here-->
</body>
</html>