<html>
 <head>
  <title>VideoGraphy</title>
    <link rel="stylesheet" type="text/CSS" href="main.css"/>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
  </head>
  
<body>
<!-- DROPDOWN SECTION -->
   
   <div class="inlined">
<div class="dropdown">
  <button class="dropbtn">Discover All Categories</button>
   <div class="dropdown-content">
    <ul>
     <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Classic</a>
     <a href="Singing.html" target="_blank">Singing</a>
     <a href="music.html" target="_blank">Music</a>
     <a href="dancing.html" target="_blank">Dancing</a> 
	 </ul>
	 
	 <ul>
	 <a href="category%20page.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Digital</a>
     <a href="Singing.html" target="_blank">Photography</a>
     <a href="videography.html" target="_blank">Videography</a>
     <a href="Digital Artistry.html" target="_blank">Digital Artistry</a>
     </ul>
	 
	 <ul>
	 <a href="miscellaneous.html" target="_blank" style="font-family: 'Nexa Bold'; font-weight:bold;">Miscellaneous</a>
     </ul>
   </div> 
</div>	
   <p id="button">
       <a href="https://www.youtube.com/technoidictales" style="text-decoration:none" target="_blank" class="white">Upload</a>
   </p>
   <p id="overthere">Talentshow</p>
</div>	
<!-- DROPDOWN ENDS -->


<!-- PAGE INTRO -->
<div class="intro-videography">
    <p id="subcat">VideoGraphy</p>
</div>
<!-- PAGE INTRO ENDS -->

<div class="timelapse-adjust">
    <p> Timelapses</p>
   </div>

<!-- Beginning Of Video Section -->
<div class="vidkamar">

   <div class="vidpad card">
      <video controls="controls">
        <source src="yeahmuzik nightlapse.mp4" type="video/mp4"/>
      </video>
            <p>Morning From A Working Window</p>
   </div>

  <div class="vidpad card">
      <video controls="controls">
        <source src="msu timelapse with music.mp4" type="video/mp4"/>
      </video>   
	  <p>Clouds Fly Over The MSU FTE</p>
  </div>

   <div class="vidpad card">	
     <iframe src="https://www.youtube.com/embed/9d8wWcJLnFI" frameborder="0" allowfullscreen></iframe>
     <p>Dazzling Time-Lapse Reveals America's Great Spaces</p>
   </div>

   <div class="vlogging-adjust">
    <p> Vlogging</p>
   </div>
   
   <div class="vidpad card">
     <iframe src="https://www.youtube.com/embed/633rwYgYJDs" frameborder="0" allowfullscreen></iframe>
     <p>ONE YEAR OF VLOGGING COMMITMENT! </p>
   </div>

    <div class="vidpad card">	
	     <iframe src="https://www.youtube.com/embed/R_YCQbdtUOY" frameborder="0" allowfullscreen></iframe>
         <p>Technoid Explaining One Year Of Inactiveness</p> 
   </div>

   <div class="vidpad card">
	  <iframe src="https://www.youtube.com/embed/1ODxPXhuAfk" frameborder="0" allowfullscreen></iframe>
      <p>Mumbiker Nikhil Vlog At Youtube Fanfest 2016s</p>
   </div>
   
    <div class="filmmaking-adjust">
    <p>Film Making</p>
   </div>

   <div class="vidpad card">
	  <iframe src="https://www.youtube.com/embed/U9kYnNlA0rk" frameborder="0" allowfullscreen></iframe>
      <p>Igor Zecevic - Videography Reel 2016</p>
   </div>

  <div class="vidpad card">
	<iframe src="https://www.youtube.com/embed/ZwYy4scOJi8" frameborder="0" allowfullscreen></iframe>
	<p>Motivational Film - Do More</p>
   </div>

   <div class="vidpad card">
   	<iframe src="https://www.youtube.com/embed/ZbjhTuGATfA" frameborder="0" allowfullscreen></iframe> 
	 <p>Ash Tailor - Journey To Canada </p>
   </div>
</div>




<footer class="foot">
  <div class="container">
    <div class="row">
	<div class="bottom-footer">
	   <div class="col-md-5">&copy;Technoidic Inc. 2017</div>
	   <div class="col-md-7">
	     <ul class="footer-nav uldis">
		   <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none" style="color: white">| Home   </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| About Us    </a></li>
           <li><a href="https://www.youtube.com/technoidictales" target="_blank" style="text-decoration: none">| Contact Us At:  </a></li>
           <a href="https://www.facebook.com/TechnoidicTales" target="_blank"><img height="3%" width="1.9%" src="facebook.png"></a> &nbsp;
		   <a href="https://twitter.com/ashishlk09" target="_blank"><img height="3%" width="2%" src="twitter.jpg"></a>&nbsp;
		   <a href="https://www.instagram.com/technoidic_ash/" target="_blank"><img height="3.5%" width="2%" src="instagram.png"></a>&nbsp;
           <a href="https://plus.google.com/+AshishLekshmanan"target="_blank"><img height="3.5%" width="2%" src="google+.png"></a>&nbsp;
           <a href="https://in.pinterest.com/ashishkunnath/" target="_blank"><img height="3.5%" width="2%" src="pinterest.png"></a>&nbsp;&nbsp;
           <a href="https://www.youtube.com/technoidictales" target="_blank"><img height="3.5%" width="2.5%" src="youtube.png"></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/ashish-kunnath-14060b103/" target="_blank"><img height="3.5%" width="2%" src="linkedin.png"></a>		
</ul>	  
	  </div>   
	</div>
	</div>
  </div>
</footer>
</body>
</html>